@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LINE'; /* 폰트 이름 설정 */
  src: url('../public/font/LINESeedKR-Rg.ttf') format('ttf'); /* 폰트 파일 경로 및 형식 설정 */
}

body {
  margin: 0;
  font-family: 'LINE', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
